@use "../1-base/variables"


.dropDown
    width: 100%

    label
        font-weight: bold
        display: block
        margin-bottom: .8rem
        font-size: 1.2rem

    select
        width: 100%
        background-color: #FFF
        border: none
        font-size: 24px
        padding: 2rem
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06)
        width: 100%
        box-sizing: border-box